.container {
  width: 90%; /* Defina uma largura para o contêiner da tabela */
  max-width: 1200px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza o contêiner na horizontal */
}

.botoes button{
    margin-right: 10px;
}

.col-12 button {
    margin-bottom: 10px;
}

.cliente {
    margin-left: 10px;
}

